<!-- header.html
 -->

<p>Header Content</p>
<!-- <ul class="menu"> -->
<!-- Using Route Provider -->
<!--   <li><a href="#/view1">view1</a>
        </li>
        <li><a href="#/view2">view2</a>
        </li> -->

<!-- Using State Provider -->

<!-- <li><a ui-sref="view1State">view1</a>
    </li>
    <li><a ui-sref="view2State">view2</a>
    </li> -->


<!-- Using State Provider with nested and multiple views -->

<!-- <li><a ui-sref=".view1State">view1</a>
    </li>
    <li><a ui-sref=".view2State">view2</a>
    </li> -->


<!-- </ul> -->
